<!DOCTYPE html>
<html ng-app="App">
<head>
  <meta charset="utf-8">
  <title="Angular">
  <link rel="stylesheet" href="autocomplete-jquery-ui.structure.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="controller.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="autocomplete-jquery-ui.js">  </script>
  <style>
    .circular{
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: inline-block;
    }
    .no-list li{
      list-style-type: none;
    }
    body,html{
      text-align: center;
      background-color: #eee;
      margin: 0px;
    }
  </style>
</head>
<body ng-controller="controllerApp">
  <input type="text" my-autocomplete="repos" placeholder="Buscar repositorio">
  <ul class="no-list">
    <li ng-repeat="repo in posts" ng-hide="main_repo && main_repo != repo.name">
      <div class="circular" back-img="{{repo.owner.avatar_url}}">
      </div>
      <h1>{{repo.full_name}}</h1>
    </li>
    <a ng-click="main_repo = null">Limpiar</a>
  </ul>
</body>
